<h1>Expenses daily report: </h1>
<table class= "table">                         
  <tr>                          
    <th>Expense ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Customer Name</th>
    <th>Project Title</th>
    <th>Category</th>
    <th>Currency</th>
    <th>Amount</th>
    <th>Date Created</th>
  </tr>
<% @expenses.each do |expense| %>       
  <tr>
    <td><%= expense.ExpenseID %></td>
    <td> <%= expense.Firstname %></td>   
    <td> <%= expense.Lastname %></td>  
    <td><%= expense.CustomerName %></td> 
    <td><%= expense.ProjectTitle %></td>  
    <td> <%= expense.ExpenseCategoryName %></td>  
    <td> <%= expense.CurrencyCode %></td> 
    <td> <%= expense.Amount %></td>
    <td> <%= expense.DateCreated %></td>   
  </tr>
<% end %>                        
</table>
<br>
<td><%= link_to "Export", export_user_path(@user_id) %></td>
